.main-news-and-deals-contener {
    width: 100%;
    padding: 0 200px 24px;
}
.main-page-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: #181196;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-bottom: 24px;
}
.news-best-title-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 32px;
    font-weight: 600;
    font-size: 36px;
    line-height: 32px;
    color: #FFFFFF;
}