.news-contener {
    display: grid;
    width: 100%;
    grid-gap: 24px;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
}
.news-element-contener {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: center;
    padding: 32px;
    gap: 24px;
    background: #FFFFFF;
    border: 1px solid #E4E7E9;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
}
.news-element-photo {
    width: 100%;
    height: 248px;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.news-photo {
    width: 100%;
    height: auto;
}
.news-info-contener {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
}
.news-icons {
    display: flex;
    align-items: flex-start;
    padding: 0;
    gap: 16px;
}
.news-icon-contener {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.news-icon-name {
    display: flex;
    align-items: center;
    justify-content: center;
}
.news-icon-text {
    width: fit-content;
    height: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #475156;
}
.news-name-contener {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #191C1F;
}
.news-preview-contener {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #77878F;
}